.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background-color: hsl(226, 43%, 10%);
  min-height: 100vh;
}

.col-lg-9{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
